<%- include('./components/header') %>
<div class="row">
  <div class="col l6 s6 m6 offset-s3 offset-l3 offset-m3">
    <% messages.forEach(message => { %>
      <div class="card gray">
        <div class="card-content gray-text">
          <span class="card-title flow-text"><%= message.content %></span>
          <a class="btn-floating btn-mini waves-effect waves-light cyan app-message-edit"><i class="material-icons">edit</i></a>
          <span class="app-message-info">发布者:&nbsp;<a href=""><%= message.author %></a></span>
          <span class="app-message-info">发布日期:&nbsp;<%= message.create_at %></span>
          <span class="app-message-info">最后更新:&nbsp;<%= message.update_at %></span>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<script>

</script>
<%- include('./components/footer') %>
